body {
    background-color: rgb(192, 192, 192);
    /* background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/weather-forecast-geometric-background-nessikk.jpg");
    background-size: 100%;
    background */
}

.hide {
    display: none;
}

.ModLow {
    background-color: green;
    color: white;
}

.HighVH {
    background-color: yellow;
    color: black;
}

.extreme {
    background-color: red;
    color: white;
}

#title {
    color: white;
}

#cardDeck {
    padding: 1%;
    margin: 1%;
}

ul {
    padding-left: 1%;
    padding-top: 1%;
    margin: 1%;
}

#changPic {
    padding: 1%;
}

.card-body {
    padding: 2%;
    margin: 1%;
    text-align: center;
}

#cityChoice {
    color: rgb(15, 247, 255);
}
.city-btn {
    padding:5px;
    background-color: #140086;
    border: 1px solid #666;
    color:rgb(255, 255, 255);
    border-radius: 6px;
}

#changePic {
    height: 10%;
    width: 10%;
}