body {
    background-color: rgb(192, 192, 192);
    /* background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/weather-forecast-geometric-background-nessikk.jpg");
    background-size: 100%;
    background */
}

.hide {
    display: none;
}

#title {
    color: white;
}

#cardDeck {
    padding: 1%;
    margin: 1%;
}

ul {
    padding-left: 1%;
    padding-top: 1%;
    margin: 1%;
}

#changPic {
    padding: 1%;
}

.card-body {
    padding: 2%;
    margin: 1%;
    text-align: center;
}

#cityChoice {
    color: rgb(15, 247, 255);
}

#changePic {
    height: 15%;
    width: 15%;
}